@font-face {
    font-family: "GothamProRegular";  
    src: url("../fonts/GothamProRegular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }
@font-face {
     font-family: "GothamProBold";
     src: url("../fonts/GothamProBold.ttf") format("truetype");
     font-style: normal; 
    font-weight: normal; 
    }


body {
        font-family: 'GothamProRegular';
        background: #fff;
        margin: 0 auto;
    }


a { 
    text-decoration: none;
}  

    
.wrapper {
        max-width: 1224px;
        margin: 0 auto;
    }

.menu_top {
		background: white;
        width: 100%;
	}

.head {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto;
    height: 120px;
    color: #000;
}   


.head__left {
    padding-top: 48px;
    color: #2F303A;
    font-size: 13px;
    padding-right: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.head__logo {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.head__right {
   padding-top: 48px;
   font-size: 13px;
   text-transform: uppercase;
   letter-spacing: 1px;
} 

.head__right a {
    text-decoration: none;
    color: #2F303A;
    padding-left: 30px;
}

.head__img {
   
    background: #fff url(../img/head_img.png) center no-repeat;
    max-width: 100%;
    height: 732px;
    margin: 0 auto;
}

.head__about {
    background: #fff url(../img/vector2.png) center no-repeat;
    text-align: center;
    height: 25px;
    margin-top: 108px;
    margin-bottom: 26px;
}

.head__text {
    text-align: center;
    font-size: 15px;
    color: #6D6E71;
    line-height: 24px;
    max-width: 624px;
    margin: 0 auto;
    margin-bottom: 126px;
}

.title {
    overflow: hidden;
    text-align: center;
    margin-bottom: 120px;
    line-height: 24px;
    font-size: 16px;
    color: #6D6E71;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .title--inst {
    margin-bottom: 12px;
  }

  .title--cat {
      margin-top: 120px;
      margin-bottom: 60px;
  }
  
  .title:before,
  .title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #F0E7E9;
    border: solid #FFF;
    border-width: 0 10px;
  }
  .title:before {
    margin-left: -100%;
    margin-right: 50px;
  }
  .title:after {
    margin-right: -100%;
    margin-left: 50px;
  }


.catalog {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto;
    height: 516px;
    color: #000;
    margin-bottom: 120px;
}   
.catalog--height {
    height: auto;
}

.catalog__card {
    border-bottom: 1px solid #F0E7E9;
    width: 384px;
    padding-bottom: 24px;
    margin-top: 24px;
}

.catalog__card--hide {
    width: 384px;
    padding-bottom: 24px;
    margin-top: 24px;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  

.catalog__img {
    padding-bottom: 24px;
}


.catalog__name {
    text-align: center;
    font-size: 15px;
    color: #6D6E71;
    padding-bottom: 24px;
    letter-spacing: 1px;
    overflow: hidden;
   text-overflow: clip;
   display: -webkit-box;
   line-height: 16px;    
   max-height: 32px;    
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;

}

.catalog__name a {
    color: #6D6E71;
}

.catalog__name a:hover {
    color: #F91B60;
}

.catalog__price {
    text-align: center;
    font-size: 13px;
    color: #6D6E71;
}

.category {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto;
    height: 312px;
    margin-bottom: 120px;
    position: relative;
}

.category__block {
    width: 216px;
    height: 216px;
    position: relative;
}


.category__block:hover .category__hover {
  opacity: 0.8;
}


.category__block:hover .middle {
  opacity: 1;
      width: 100%;
        height:  100%;
}


.category__icn {
    text-align: center;
    padding: 36px 0px 12px 0px;
}

.category__name {
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.category__name a {
    color: #6D6E71;
}

.category__name a:hover {
    color:  #ED1162;
}


.inst__link { 
    letter-spacing: 1px;
    text-align: center;
    line-height: 24px;
    font-size: 15px;
    color:  #ED1162;
    padding-bottom: 96px;
}

.inst__link a {
    color:  #ED1162;
}

.instagram {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto;
    height: 288px;
    color: #000;
    margin-bottom: 120px;
    
}


.instagram__photo {
      position: relative;
      max-width: 288px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height:  100%;
  }
  

  
  .instagram__photo:hover .middle {
    opacity: 1;
        width: 100%;
          height:  100%;
  }
  
  .union__hover {
    width: 100%;
    height:  100%;
    background: rgba(237, 17, 98);
    opacity: 0.8;
 
  }

  .union__hover--blog {
    width: 100%;
    height:  228px;
    background: rgba(237, 17, 98);
    opacity: 0.8;
  }
  
  .union {
      background: url(../img/union.png) center no-repeat;
      width: 100%;
      height: 100%;
  
  }
  

.subscribe {
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #6D6E71;
   
}

.subscribe span {
    line-height: 24px;
    font-size: 13px;
    display: block;
    padding-top:12px;
    padding-bottom: 72px; 
    text-transform: none;
}


.subscribe__pos {
    text-align: center;
    margin-bottom: 120px;
 }

.subscribe__block {
    flex-direction: column;
    display: inline-flex;
    text-align: left;
}

.subscribe__email {
    padding-bottom: 6px;
    letter-spacing: 1px;
    font-size: 13px;
    color: #2F303A;   
}

.subscribe__input {
    width: 290px;
    height: 48px;
    border: 1px solid #E5E5E5;
    transition: .6s ease;
    padding-left: 15px;
    box-sizing: border-box;
}

.subscribe__input:hover {
    border: 1px solid #F91B60;
}

.subscribe__input:active {
    border: 1px solid #E5E5E5;
}

.subscribe__input:focus {
    outline: 0;
    border: 1px solid #ED1162;
}


.footer {
    background: #2F303A;
    height: 192px;
}


.footer__line {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto;
    height: 120px;
    color: #000;
    padding-top: 30px;
}   


.footer__name {
    font-family: "GothamProBold";
    line-height: 24px;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F0E7E9;
    padding-top: 36px;
    padding-bottom: 12px;
}

.footer__link {
    line-height: 24px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #F0E7E9;
}

.footer__link ul {
    list-style: none;
    padding: 0;
}
.footer__link li {
    display: inline-block;
}


.footer__link a {
    color: #F0E7E9;
    padding-right: 20px;
}

.footer__copyright {
    line-height: 24px;
    font-size: 12px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F0E7E9;
}

.blog {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto;
    color: #000;
    margin-bottom: 120px;
}

.blog__block {
    position: relative;
    max-width: 312px;
}
.blog__block--hide {
  width: 312px;
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 2px;
  margin-bottom: 0;
  margin-top: 0;
}

.block__title {
    text-align: center;
    padding-top: 24px;
    margin-bottom: 36px;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    line-height: 16px;
    max-height: 50px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.block__title a {
    color: #6D6E71;
}
.block__title a:hover {
    color: #F91B60;
    cursor: pointer;
}

  
.blog__block:hover .middle {
    opacity: 1;
    width: 100%;
    height:  100%;
  }

.text {
    max-width: 720px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.text__title {

    font-family: "GothamProBold";
    color: #2F303A;
    line-height: 36px;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 24px;
}

.text__content {
    line-height: 24px;
    font-size: 15px;
    color: #6D6E71;
}

.text__content p {
    margin-bottom: 25px;
}

.text__content img {
    max-width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
}


.product {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    margin: auto;
    color: #000;
    margin-top: 120px;
    margin-bottom: 120px;
}


.product__left {
    max-width: 40%; 
}

.slick-slide img {
    max-width: 100%;
    margin: 0 auto;
}
.product__right {
    width: 468px;
}

.product__cat {
    font-size: 13px;
    letter-spacing: 1px;
    color: #C4C4C4;
    padding-bottom: 12px;
}

.product__name {
    font-family: "GothamProBold";
    font-size: 18px;
    letter-spacing: 1px;
    color: #6D6E71;
    padding-bottom: 24px;
}

.product__desc {
    line-height: 24px;
    font-size: 15px;
    color: #6D6E71;
    padding-bottom: 24px;
}

.product__choise {
    font-size: 13px;
    letter-spacing: 1px;
    color: #C4C4C4;
    padding-bottom: 12px;
}

.product__size {
    width: 24px;
    height: 24px; 
    border: 1px solid #E5E5E5;
    color: #2F303A;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    margin-left: 8px;
}

.form {
    display: inline-block;
}


.product__togle input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
}
  
  
  
.product__togle label {
    width: 24px;
    height: 24px; 
    border: 1px solid #E5E5E5;
    color: #2F303A;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    margin-left: 8px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}
  
    .product__togle label:hover {
      cursor: pointer;
}
  
.product__togle input:checked + label {
    color: #F91B60;
    border: 1px solid #F91B60;
    -webkit-box-shadow: none;
    box-shadow: none;
}
  
.product__price {
    line-height: 24px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #C4C4C4;
    padding-bottom: 36px;
}

.product__price span {
    color: #6D6E71;
}

.product__detail {
    height: 432px;
    font-size: 15px;
    color: #6D6E71;
    display: table;
    line-height: 24px;
    margin-bottom: 120px;
}

.detail__text {
    display: table-cell;
    vertical-align: middle;
}

.product__detail-img {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}










.demo_box2 {
    width: 53px !important;
}

.menu  {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: auto;
    height: 120px;
    color: #000;
    margin-bottom: 120px;
    box-shadow: 0px -4px 6px rgba(47, 48, 58, 0.1);
    text-transform: none;
}
.menu__point {
    width: 120px;
    text-align: center;
    padding: 60px 0 0 0;

}
.menu__point a {
    color: #2F303A;
}

.menu__point a:hover {
    color:#ED1162;
}


.point__name {
    padding-top: 18px;
    padding-bottom: 53px;

}

.menu__hr {
    border: 1px solid #F0E7E9;
    width: 547px;
    margin-bottom: 21px;
    margin-left: 37px;
}

.menu__ul {
    padding-bottom: 12px;
    font-size: 13px;
    letter-spacing: 1px;
}

.menu__ul a {
    color: #2F303A;
}

.menu__list {
    display: block;
    margin-left: 37px;
    margin-top: 48px;
}


.menu_ul {
    background: #34495e !important;
    box-shadow: 0px 5px 10px rgba(47, 48, 58, 0.1);
}

.point { 
    width: 126px !important;
    background: #fff !important;
    height: 350px !important;

}












/*Button Style */



.button {
    width: 180px;
    height: 48px;
    background: #ED1162;
    border: 1px solid #ED1162;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .6s ease;
}

.button:hover {
    background: #fff;
    color: #2F303A;
}

.button--catalog {
    width: 216px;
    height: 48px;
}

.menu__wrapper {
    max-width: 1224px;
    margin: 0 auto;
}


#mMenu  {
    height: 120px;
    z-index: 40;
    background: white;
    box-shadow: 0px 5px 15px rgba(47, 48, 58, 0.1);
    position: relative;
}

#mMenu.fixed {
    position:fixed;
    top: -60px;
    width:100%;
    left:0; 
}

#mMenuPlaceholer {
    height: 100px;
}
#mMenu.fixed .head__left {
    padding-top: 80px;
}

#mMenu.fixed .head__logo img {
    height: 48px;
    padding-top: 65px;
}

#mMenu.fixed .head__right {
    padding-top: 80px;
}    

#mMenu.fixed #menu_ul {
    margin-top: 25px !important;
}


 


/* Adaptive Design */


@media (max-width: 1200px) {
    .catalog { 
    height: auto;
    }
    
    .instagram {
    height: auto;
    }
    .category {
        height: auto;
    }
    .category__block {
        height: auto;
        padding-bottom: 36px;
    }

    .instagram__photo {
        padding-bottom: 36px;
    }
    .head__left {
        padding-left: 10px;
    }
    .head__right {
        padding-right: 10px;
    }
    #menu_ul {
        margin-left: -10px !important;
    }

}

@media (max-width: 950px) {
    .catalog { 
    justify-content: center;
    }
    .category {
        justify-content: center; 
    }
    .category__block {
        padding-right: 5px;
    }
    .instagram {
        justify-content: center;
    }

    .instagram__photo {
        padding-right: 5px;
    }
    .middle {
        display: none;
    }

    .text {
        padding: 0 10px 0 10px;
    }
   
    
}
@media (max-width: 650px) {


    #menu_ul {
        max-width: 100% !important;
        margin-top: 11px !important;
    }
    .menu {
        justify-content: start;
    }    
    .menu__point {
        width: 85px;
        padding: 35px 0 0 0;
    }
    .point__name {
        padding-bottom: 0px;
    }
    .menu__hr {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .head__img {
        background-size: cover; 
        height: 410px;
    }
    .head__about {
        margin-top: 48px;
    }
    .head__text {
        margin-bottom: 84px;
    }
    .instagram {
        margin-bottom: 84px;
    }
    .subscribe__pos {
        margin-bottom: 84px;
    }
    .head__right {
        display: none;
    }

    .head {
        height: 60px;
    }

    .head__logo img {
        height: 48px;
    }

    #mMenu {
        height: 60px;
    }
    .menu__desc {
        display: none;
    }
    .head__logo {
        margin: 0 auto;
        padding-left: 0;
        padding-top: 5px;  
    }
    .head__left {
        padding-right: 0px;
        padding-top: 13px;
    }
    .title {
        margin-bottom: 48px;
    }
    .blog {
        justify-content: center;
        margin-bottom: 72px;
    }
    .blog__block {
        max-width: 300px;
    }
    .block__title {
        margin-bottom: 48px;
    }
    .title--cat {
        margin-top: 48px;
    }
    .text {
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .product {
        margin-top: 48px;
        margin-bottom: 84px;
    }
    .detail__text {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 24px;
    }
    .product__detail-img {
        float: none;
        text-align: center;
    }
    .product__detail-img img {
        max-width: 100%;
    
    }
    .product__detail {
        margin-bottom: 84px;
    }

    
}

@media (min-width: 651px) {
    .menu__mobile {
        display:none;
    }
}



@media (max-width: 575px) {

    .footer {
        height: 420px;
    }
    .footer__line {
        justify-content: center;
        padding-left: 15px;
    }    
    .footer__left {
        padding-bottom: 60px;
    }
    .button {
        width: 290px;
    }
    .head__logo {
        margin: 0 auto;
        padding-left: 0;
    }

    .button--catalog {
        width: 100%;
    }
    .product__price {
        padding-bottom: 12px;
    }
    
    .product__left {
      max-width: 50%; 
    }

}

@media (max-width: 450px) {


    .head__img {
        background: #fff url(../img/head_img.png) center no-repeat;
        height: 312px;
        background-size: cover;
    }
    .catalog__card {
        width: 288px;
    }
    .catalog__img img {
        width: 288px;
    }
    
    .catalog__name {
        width: 288px;
    }

    .catalog__price { 
        width: 288px;
        height: 30px;
    }
    .product__right {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .product__left {
        max-width: 60%; 
    }

    
}



@media (max-width: 322px) {
    .head__img {
    height: 228px;
    background-size: cover; 
    }
    .button--catalog {
        width: 300px;
    }
}

